<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
          <nav>
              <ul class="nav nav-pills pull-right">
                  <li role="presentation" ><a href="main">Home</a>
                  </li>
                  <li role="presentation" class="active"><a href="addJobs">Add Task</a>
                  </li>
                  <li role="presentation"><a href="showSignUp">Sign Up Buddy</a>
                  </li>
                  {% include 'google_login.html' %}
              </ul>
          </nav>
          {% include 'common_title.html' %}
      </div>

      <div class="jumbotron">
        <h1>Coffee Bucket List Task: </h1>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Name</label>
          <select type="name" name="inputName" id="inputName" class="form-control" placeholder="To whom (name)" required autofocus>
            <option value=-1>"To whom (name)"</option>
            {% for username in users %}
              <option value={{username[0]}}>{{username[2]}} ({{username[1]}})</option>
            {% endfor %}
          </select>
          <br>
          <label for="inputProduct" class="sr-only">Product</label>
          <select type="name" name="inputProduct" id="inputProduct" class="form-control" placeholder="To whom (name)" required autofocus>
            <option value=-1>"What to buy (product)"</option>
            {% for product in products %}
              <option value={{product[0]}}>{{product[1]}} ({{product[2]}} CHF)</option>
            {% endfor %}
          </select>
        <br><br><br>
        <button id="btnRegisterJob" class="btn btn-lg btn-warning btn-block" type="button">Add to wish list</button>
        <script>
          $(function() {
              $('#btnRegisterJob').click(function() {
                  $.ajax({
                      url: '/registerJob',
                      data: $('form').serialize(),
                      type: 'POST',
                      success: function(response) {
                          console.log(response);
                          location.reload();
                      },
                      error: function(error) {
                          console.log(error);
                      }
                  });
              });
          });
        </script>
        </form>

        <h4>Bucket list</h4>
        <form class="form-bucket">
          {% if todaysJobs|length > 0 %}
          <button id="btnEmptyBucket" class="btn btn-sm btn-danger btn-block" type="button">Empty wish list</button>
          {% else %}
          <button id="btnEmptyBucket" class="btn btn-sm btn-danger btn-block" type="button" disabled>Empty wish list</button>
          {% endif %}
          <script>
            $(function() {
                $('#btnEmptyBucket').click(function() {
                    $.ajax({
                        url: '/emptyBucket',
                        data: $('form').serialize(),
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                            location.reload();
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });
            });
          </script>
        </form>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Whom </th>
                        <th scope="col"> What </th>
                        <th scope="col"> Rating </th>
                    </tr>
                </thead>
                <tbody>
                {% for lastEntry in todaysJobs %}
                    <tr>
                        <td> {{ lastEntry[0] }} </td>
                        <td> {{ lastEntry[1] }} </td>
                        <td> {{ lastEntry[2] }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



          <form class="form-final">
            <label for="finalzeName" class="sr-only">Name</label>
            {% if todaysJobs|length > 0 %}
            <select type="name" name="finalzeName" id="finalzeName" class="form-control" required autofocus>
            {% else %}
            <select type="name" name="finalzeName" id="finalzeName" class="form-control" required autofocus disabled>
            {% endif %}
              <option value=-1>"Who is byuing?"</option>
              {% for username in users %}
                <option value={{username[0]}}>{{username[2]}} ({{username[1]}})</option>
              {% endfor %}
            </select>
            {% if todaysJobs|length > 0 %}
               <button id="btnCloseJob" class="btn btn-lg btn-danger btn-block" type="button">Save ordering</button>
              {% else %}
               <button id="btnCloseJob" class="btn btn-lg btn-danger btn-block" disabled type="button">Save ordering</button>
           {% endif %}
            <script>
              $(function() {
                  $('#btnCloseJob').click(function() {
                      $.ajax({
                          url: '/finalizeJob',
                          data: $('form').serialize(),
                          type: 'POST',
                          success: function(response) {
                              console.log(response);
                              location.reload();
                          },
                          error: function(error) {
                              console.log(error);
                          }
                      });
                  });
              });
            </script>
          </form>
      </div>

      <div class="row marketing">
          <div class="col-lg-6">
              <h4> All time (last 50 servings) </h4>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">When</th>
                              <th scope="col">Name</th>
                              <th scope="col">To whom </th>
                              <th scope="col">Type </th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for lastEntry in summaryJobs %}
                          <tr >
                              <th scope="row">{{ lastEntry[0] }}</th>
                              <td> {{ lastEntry[1] }} </td>
                              <td> {{ lastEntry[2] }} </td>
                              <td> {{ lastEntry[3] }} </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
