<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
          {% with activeSite='addJobs' %}
          {% include 'common_title.html' %}
          {% endwith %}
      </div>

      <div id='addjobs' class="jumbotron">
        <h1>Coffee Bucket List</h1>
        {% include 'common_alerts.html' %}
        <hr class="my-3">
        <p>Select choices, preview the whish list with individual choices and register the job.</p>

        <div class="well">
        <h4 id='addorder'>Add someone to the whish list</h4>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Name</label>
          <select type="name" name="inputName" id="inputName" class="form-control" placeholder="To whom (name)" required autofocus>
            <option value=-1>To whom (name)</option>
            {% with whoActive = 1 %}
            {% include 'userselectoptions.html' %}
            {% endwith %}
          </select>
          <br>
          <label for="inputProduct" class="sr-only">Product</label>
          <select type="name" name="inputProduct" id="inputProduct" class="form-control" placeholder="To whom (name)" required autofocus>
            <option value=-1>What to buy (product)</option>
            {% for id in products %}
              <option value={{id}}>{{products[id]['name']}} ({{products[id]['price']}} CHF)</option>
            {% endfor %}
          </select>
        <br>
        <button id="btnRegisterJob" class="btn btn-lg btn-primary btn-block" type="button">Add to the wish list</button>
        <script>
          $(function() {
              $('#btnRegisterJob').click(function() {
                  $.ajax({
                      url: '/registerJob',
                      data: $('form').serialize(),
                      type: 'POST',
                      success: function(response) {
                          console.log(response);
                          location.reload();
                      },
                      error: function(error) {
                          console.log(error);
                      }
                  });
              });
          });
        </script>
        </form>

      </div>


        <div class="well">
          <h4>Bucket list</h4>
          <form class="form-bucket">
            {% if todaysJobs|length > 0 %}
            <button id="btnEmptyBucket" class="btn btn-sm btn-outline-danger btn-block" type="button">Empty wish list <img src="static/delete.png"  width="20" height="20" /></button>
            {% else %}
            <button id="btnEmptyBucket" class="btn btn-sm btn-outline-danger btn-block" type="button" disabled>Empty wish list <img src="static/delete.png"  width="20" height="20" /></button>
            {% endif %}
            <script>
              $(function() {
                  $('#btnEmptyBucket').click(function() {
                      $.ajax({
                          url: '/emptyBucket',
                          data: $('form').serialize(),
                          type: 'POST',
                          success: function(response) {
                              console.log(response);
                              location.reload();
                          },
                          error: function(error) {
                              console.log(error);
                          }
                      });
                  });
              });
            </script>
          </form>

          {% with activeRemove = True %}
          {% include 'actual_bucket.html' %}
          {% endwith %}

         </div>

          <div class="well">
          <form class="form-final">

            <h4>Register the job</h4>
              <p>Who is buying? (default is the actual logged user)</p>
            <label for="finalzeName" class="sr-only">Name</label>
            {% if todaysJobs|length > 1 %}
            <select type="name" name="finalzeName" id="finalzeName" class="form-control" required autofocus>
            {% else %}
            <select type="name" name="finalzeName" id="finalzeName" class="form-control" required autofocus disabled>
            {% endif %}
            {% with whoActive = loggedUsernameEmail['id'] %}
            {% include 'userselectoptions.html' %}
            {% endwith %}
            </select>
            <br><br>
            {% if todaysJobs|length > 1 %}
               <button id="btnCloseJob" class="btn btn-lg btn-success btn-block" type="button">Save ordering</button>
              {% else %}
               <button id="btnCloseJob" class="btn btn-lg btn-success btn-block" disabled type="button">Save ordering</button>
           {% endif %}
            <script>
              $(function() {
                  $('#btnCloseJob').click(function() {
                      $.ajax({
                          url: '/finalizeJob',
                          data: $('form').serialize(),
                          type: 'POST',
                          success: function(response) {
                              console.log(response);
                              location.reload();
                          },
                          error: function(error) {
                              console.log(error);
                          }
                      });
                  });
              });
            </script>
          </form>
        </div>
      </div>

      <div id='timeline' class="well">
      {% include 'events_time_line.html' %}
      </div>

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
