<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
          <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="main">Home</a>
                </li>
                <li role="presentation" class="active"><a href="#">Orders</a>
                </li>
                <li role="presentation"><a href="showSignUp">Add User</a>
                </li>
                <li role="presentation"><a href="stats">SystemStats</a>
                </li>
                  {% include 'google_login.html' %}
              </ul>
          </nav>
          {% include 'common_title.html' %}
      </div>

      <div class="jumbotron">
        <h1>Coffee Bucket List</h1>
        <p>Select choices, preview the whish list with individual choices and register the job.</p>

        <div class="well">
        <h4>Add someone to the whish list</h4>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Name</label>
          <select type="name" name="inputName" id="inputName" class="form-control" placeholder="To whom (name)" required autofocus>
            <option value=-1>To whom (name)</option>
            {% for username in users %}
              <option value={{username[0]}}>{{username[2]}} ({{username[1]}})</option>
            {% endfor %}
          </select>
          <br>
          <label for="inputProduct" class="sr-only">Product</label>
          <select type="name" name="inputProduct" id="inputProduct" class="form-control" placeholder="To whom (name)" required autofocus>
            <option value=-1>What to buy (product)</option>
            {% for product in products %}
              <option value={{product[0]}}>{{product[1]}} ({{product[2]}} CHF)</option>
            {% endfor %}
          </select>
        <br>
        <button id="btnRegisterJob" class="btn btn-lg btn-primary btn-block" type="button">Add to the wish list</button>
        <script>
          $(function() {
              $('#btnRegisterJob').click(function() {
                  $.ajax({
                      url: '/registerJob',
                      data: $('form').serialize(),
                      type: 'POST',
                      success: function(response) {
                          console.log(response);
                          location.reload();
                      },
                      error: function(error) {
                          console.log(error);
                      }
                  });
              });
          });
        </script>
        </form>

      </div>


        <div class="well">
          <h4>Bucket list</h4>
          <form class="form-bucket">
            {% if todaysJobs|length > 0 %}
            <button id="btnEmptyBucket" class="btn btn-sm btn-danger btn-block" type="button">Empty wish list</button>
            {% else %}
            <button id="btnEmptyBucket" class="btn btn-sm btn-danger btn-block" type="button" disabled>Empty wish list</button>
            {% endif %}
            <script>
              $(function() {
                  $('#btnEmptyBucket').click(function() {
                      $.ajax({
                          url: '/emptyBucket',
                          data: $('form').serialize(),
                          type: 'POST',
                          success: function(response) {
                              console.log(response);
                              location.reload();
                          },
                          error: function(error) {
                              console.log(error);
                          }
                      });
                  });
              });
            </script>
          </form>


          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col"> Whom </th>
                          <th scope="col"> What </th>
                          <th scope="col"> Local <br>rating </th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for lastEntry in todaysJobs %}
                      <tr>
                          <td> {{ lastEntry[0] }} </td>
                          <td> {{ lastEntry[1] }} </td>
                          <td> {{ lastEntry[2] }} </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
         </div>

          <div class="well">
          <form class="form-final">

            <h4>Register the job</h4>
              <p>Who is buying? (default is the actual logged user)</p>
            <label for="finalzeName" class="sr-only">Name</label>
            {% if todaysJobs|length > 0 %}
            <select type="name" name="finalzeName" id="finalzeName" class="form-control" required autofocus>
            {% else %}
            <select type="name" name="finalzeName" id="finalzeName" class="form-control" required autofocus disabled>
            {% endif %}
              {% for userIdEmailName in users %}
                {% if userIdEmailName[0] == loggedUsernameEmail['id'] %}
                  <option value={{userIdEmailName[0]}} selected>{{userIdEmailName[2]}} ({{userIdEmailName[1]}})</option>
                {% else %}
                  <option value={{userIdEmailName[0]}}>{{userIdEmailName[2]}} ({{userIdEmailName[1]}})</option>
                {% endif %}
              {% endfor %}
            </select>
            {% if todaysJobs|length > 0 %}
               <button id="btnCloseJob" class="btn btn-lg btn-success btn-block" type="button">Save ordering</button>
              {% else %}
               <button id="btnCloseJob" class="btn btn-lg btn-success btn-block" disabled type="button">Save ordering</button>
           {% endif %}
            <script>
              $(function() {
                  $('#btnCloseJob').click(function() {
                      $.ajax({
                          url: '/finalizeJob',
                          data: $('form').serialize(),
                          type: 'POST',
                          success: function(response) {
                              console.log(response);
                              location.reload();
                          },
                          error: function(error) {
                              console.log(error);
                          }
                      });
                  });
              });
            </script>
          </form>
        </div>
      </div>

      <div class="row marketing">
          <div class="well">
              <h4> All time </h4>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">When</th>
                              <th scope="col">Name</th>
                              <th scope="col">To whom </th>
                              <th scope="col">Type </th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for lastEntry in summaryJobs %}
                          <tr >
                              <th scope="row">{{ lastEntry[0] }}</th>
                              <td> {{ lastEntry[1] }} </td>
                              <td> {{ lastEntry[2] }} </td>
                              <td> {{ lastEntry[3] }} </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
