<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
<a class="navbar-brand" href="#"><img src="static/coffee.png" width="20" height="20"/> {{instance['name']}} v{{instance['ver']}} </a>
<ul class="navbar-nav">

{% if activeSite == 'main' %}
<li class="nav-item active" >
{%else%}
<li class="nav-item" >
{%endif%}
<a class="nav-item nav-link" href="main#">Home</a>
</li>

{% if activeSite == 'addJobs' %}
 <li class="nav-item active" >
   <a class="nav-item nav-link" href="addJobs#addjobs">Orders</a>
{%else%}
<li class="nav-item" >
  <a class="nav-item nav-link" href="addJobs">Orders</a>
{%endif%}
 </li>

{% if activeSite == 'addJobs' %}
<li class="nav-item active" >
  <a class="nav-item nav-link" href="#timeline">TimeLine</a>
{%else%}
<li class="nav-item" >
 <a class="nav-item nav-link" href="addJobs#timeline">TimeLine</a>
{%endif%}
</li>

{% if activeSite == 'showSignUp' %}
<li class="nav-item active" >
{%else%}
<li class="nav-item" >
{%endif%}
<a class="nav-item nav-link" href="showSignUp#">Add/Edit</a>
</li>

{% if activeSite == 'stats' %}
<li class="nav-item active" >
{%else%}
<li class="nav-item" >
{%endif%}
<a class="nav-item nav-link" href="stats#">SystemStats</a>
</li>

{% if not googleSession %}
{% include 'no_login.html' %}
{% else %}
{% include 'google_login.html' %}
{% endif %}
</ul>
<!-- closing from the title temlate -->
</nav>
