<div id="{{dependencyWheelId}}"></div>
<script>
Highcharts.chart('{{dependencyWheelId}}', {
    title: {
        text: '{{title}}'
    },
    series: [{
        keys: ['from', 'to', 'weight'],
      data: [
        {% for oneData in dataToPlot%} [ '{{oneData[0]}}', '{{oneData[1]}}', {{oneData[2]}} ] ,
        {%endfor%}
        ],
        type: 'dependencywheel',
        name: 'Transaction',
        dataLabels: {
            color: '#333',
            textPath: {
                enabled: true,
                attributes: {
                    dy: 5
                }
            },
            distance: 10
        },
        size: '95%'
    }]
});
</script>
