<div class="container">
    <div class="page-header">
        <h2 id="timeline">Recorded timeline <span class="badge badge-warning">{{loggedUsernameEmail['username']}}'s contribiution is marked</span> </h2>
          {% include 'totop.html' %}
    </div>
    <ul class="timeline">
        {% for date in eventsTimeLine.keys() %}<li class="{{loop.cycle('', 'timeline-inverted')}}" >
          <div class="timeline-badge dark"> </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">Action on {{ date }}
                {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() %}
                <a class="btn btn-outline-warning btn-sm" href="/jobedit?date={{date}}"> <img src="static/search.png" width="15" height="15"/> </a>

                <button type="button" class="btn btn-warning btn-sm modalJobEdit" tabindex="0"
                     data-toggle="modal" data-target="#modalJobEdit"
                     data-date="{{date}}"
                     ><img src="static/wrench.png" width="15" height="15"/>
                 </button>

                {% endif %}
              </h3>

            </div>
            <div class="timeline-body">
              <p><small class="text-muted"><i class="glyphicon glyphicon-time">Total order value: {{ '%.1f'| format(eventsTimeLine.get(date).get('total', 0)|float) }} CHF </i> </small></p>
              <ul>
  {% for id in eventsTimeLine[date].keys() %} {% if id !=  'total' and id != 'all' %} <li>
            {% if loggedUsernameEmail['username'] == eventsTimeLine[date][id]['who'] %}<span class="badge badge-warning"><b> {{eventsTimeLine[date][id]['who']}} </b></span> to
            {% else %} <span><b> {{eventsTimeLine[date][id]['who']}} </b></span> to {% endif %}
            {% if loggedUsernameEmail['username'] == eventsTimeLine[date][id]['towhom'] %}<span class="badge badge-warning">{{eventsTimeLine[date][id]['towhom']}}</span>
            {% else %} <span><i>{{eventsTimeLine[date][id]['towhom']}}</i></span> {%endif%}
            <span> with {{eventsTimeLine[date][id]['what']|safe }} </span>
                  </li> {% endif %}
  {% endfor %}
             </ul>
           </div>
        </div>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="modal fade" id="modalJobEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <img src="static/coffee.png" width="35" height="35" />
          <img src="static/wrench.png" width="35" height="35" /> Edit Job's Details
          </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="editUser" method="post">
          <div class="form-group">
            <label for="job-date" class="col-form-label">When</label>
            <input type="text" class="form-control" id="job-date" readonly>
          </div>

            <button type="submit" class="btn btn-danger">Save Job Changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel and forget</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('.modalJobEdit').click(function(e){
      e.preventDefault();
      var button = $(e.delegateTarget);
      var date = button.data('date');
      var mymodal = $('#modalJobEdit');
      mymodal.find('#job-date').val(date);
      mymodal.modal('show');
    });
  })
</script>
