<h4 id='ordershistory'> Timeline </h4>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">When</th>
                <th scope="col">Name</th>
                <th scope="col">To whom </th>
                <th scope="col">Type </th>
            </tr>
        </thead>
        <tbody>
        {% for id in eventsTimeLine.keys() %}
            <tr >
                <th scope="row">{{ eventsTimeLine[id]['date']['all'] }}</th>
                <td> {{ eventsTimeLine[id]['who'] }} </td>
                <td> {{ eventsTimeLine[id]['towhom'] }} </td>
                <td> {{ eventsTimeLine[id]['what']|safe }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
