
  <p>&copy; SomeCoffeineCompany 2019 - <a class='btn-sm btn-outline-dark' target='new' href='https://github.com/agorzawski/fairtaskassigner'>
    <img src='https://github.githubassets.com/favicon.ico' height="20" width="20"/> ChangeLog  </a></p>

  <p> <a class='btn-sm btn-outline-dark' target='new' href='https://github.com/agorzawski/fairtaskassigner/issues/new'>
    <img src='https://github.githubassets.com/favicon.ico' height="20" width="20"/> Any Ideas/Requests - feel free to fill the issue  </a> </p>
