<p>
  <h4> The principles of the game:</h4>
  <lu>
  <li> The pool of users is formed.</li>
  <li> To sign-up, go to <a href='showSignUp'> Add User section </a> and add a new member (if adding someone) or assign your id with an already created member (google login required)</li>
  <li> Coffee servings within the group should be <a href="addJobs">noted down</a> so all transactions are kept. </li>
  <li> So called <b>global rating</b> and list <i>NEXT CANDIDATES</i> is computed within the pool (<a href='addJobs#ordershistory'>of all time orderds history</a>) excluding self buying actions. </li>
  <li> <a href="stats#Achievements"> Achievements and penalties</a> are granted for balancing too far from neutral rating. </li>
  <li> <a href="stats#Achievements"> Achievements </a> are granted for serving/consuming - community gifts. </li>
  <li> So called <b>local rating</b> that is visible when creating an order indicate rating <b>only among involved ordering persons</b>. </li>
  <li> <i>TOP SERVANTS </i> is an idicative table with some little statistics, for more go to <a href="stats#statistics">SystemStats</a>. </li>
  <li> After one order is place, system finds the most often ordred product and uses it for a <a href='main'> QuickAdd (visible when logged in)</a>. </li>
</lu>
</p>
