<li role="nav-item dropdown">
  <a class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  {{ loggedUsernameEmail['username'] }}
  {% for badge in loggedUserBadges %}
    <img src="{{badge[5]}}" width=20 height=20 />
  {% endfor %}
  <img src="{{loggedUsernameEmail['picture']}}" width=20 height=20 class="rounded-circle" />
  </a>
  <div class="dropdown-menu">
     <a class="dropdown-item" href="#"><code>{{loggedUsernameEmail['email']}}</code></a>
     {% for badge in loggedUserBadges %}
       <a class="dropdown-item" href="#"><img src="{{badge[5]}}" width=25 height=25 /> <b>{{badge[4]}}</b> ({{badge[6]}}, effect {{badge[7]}}) </a>
     {% endfor %}
     <div class="dropdown-divider"></div>
     {% include 'quick_add.html'%}
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="logout"> <b>LOGOUT</b> </a>
  </div>
</li>
