<li role="nav-item dropdown">
  <a class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  {{ loggedUsernameEmail['username'] }} <span class="badge badge-light"><img src="static/coffee.png" width="12" height="12"/> {{ loggedUsernameEmail['scoring'] }}</span>
  {% for badge in loggedUserBadges.values() %}
    <img src="{{badge['img']}}" width=20 height=20 />
  {% endfor %}
  <img src="{{loggedUsernameEmail['picture']}}" width=20 height=20 class="rounded-circle" />
  </a>
  <div class="dropdown-menu">
     <a class="btn btn-outline-primary btn-block" href="/user">More about <code>{{loggedUsernameEmail['email']}}</code></a>
     {% for badge in loggedUserBadges.values() %}
       <a class="dropdown-item" href="#"><img src="{{badge['img']}}" width=25 height=25 /> <b>{{badge['name']}}</b> ({{badge['desc']}}, effect {{badge['effect']}}) </a>
     {% endfor %}
     {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() %}
     <div class="dropdown-divider"></div>
     <a href='/calculateScoring' class="btn btn-outline-danger btn-block">
       Refresh badges & scoring <img src="static/delete.jpg" width=20 height=20 /> <img src="static/refresh.png" width=20 height=20 />
     </a>
     {% endif %}
     <div class="dropdown-divider"></div>
     {% include 'quick_add.html'%}
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="logout"> <b>LOGOUT</b> </a>
  </div>
</li>
