<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common_head.html' %}
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="addJobs">Add Task</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up Buddy</a>
                    </li>
                    {% if not googleSession %}
                     {% include 'no_login.html' %}
                    {% else %}
                     {% include 'google_login.html' %}
                    {% endif %}
                </ul>
            </nav>
            {% include 'common_title.html' %}
        </div>

        <div class="jumbotron">
            <h1>Coffee Bucket List App</h1>

            {% if googleSession and loggedUsernameEmail['idProduct'] > 0 %}
            <form action="" method="post">
              <input type="name" name="inputName" value="{{loggedUsernameEmail['id']}}" readonly hidden/>
              <input type="name" name="inputProduct"value="{{loggedUsernameEmail['idProduct']}}" readonly hidden />
              <button id='addQuick' class="btn btn-lg btn-primary btn-block"
                type="button">QuickAdd: {{loggedUsernameEmail['productName']}} for {{loggedUsernameEmail['username']}}
                <img src="{{loggedUsernameEmail['picture']}}" width=25 height=25 class="rounded-circle" />
                </button>
              <script>
                $(function() {
                    $('#addQuick').click(function() {
                        $.ajax({
                            url: '/registerJob',
                            data: $('form').serialize(),
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                                location.reload();
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    });
                });
              </script>
            </form>
            {% endif %}

            {% if googleSession and loggedUsernameEmail['idProduct'] == -1 %}
            <button id='addQuick' class="btn btn-lg btn-primary btn-block"
              type="button" disabled> You will see here your favorite option after first order
              <img src="{{loggedUsernameEmail['picture']}}" width=25 height=25 class="rounded-circle"  />
            </button>
            {% endif %}
            <hr class="my-3">
            <div class="col-lg-6">
              <h4>  Next candidates (all population): </h4>
              <div class="table-responsive alert alert-danger" role="alert">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Actual rating</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in candidates %}
                          <tr>
                              <th scope="row">{{ topper[0] }}</th>
                              <td> {{'%0.1f'| format(topper[1]|float)}}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="col-lg-6">
              <h4> Top servants: </h4>
              <div class="table-responsive alert alert-dark" role="alert">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Jobs served</th>
                              <th scope="col">Total spent [CHF]</th>
                              <th scope="col">Actual rating</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in top3 %}
                          <tr id={{ topper[0] }}>
                              <th scope="row">{{ topper[0] }}</th>
                              <td> {{'%0.0f'| format(topper[1]|float)}} </td>
                              <td> {{'%0.1f'| format(topper[2]|float)}} </td>
                              <td> {{'%0.1f'| format(topper[3]|float)}}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="card" >
              <div class="card-header">
                &nbsp;&nbsp;
              </div>
              <div class="card-body">
               <p class="lead"></p>
               <p><a class="btn btn-lg btn-success btn-block" href="addJobs" role="button">Prepare order list</a></p>
              </div>
            </div>
        </div>

        <footer class="footer">
        {% include 'footer.html' %}
        </footer>

    </div>
</body>
</html>
