<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common_head.html' %}
</head>
<body>
    <div class="container">
        <div class="header">
          {% with activeSite='main' %}
          {% include 'common_title.html' %}
          {% endwith %}
        </div>

        <div class="jumbotron">
            <h1>Coffee Bucket List</h1>
            <hr class="my-3">
            {% include 'common_alerts.html' %}
            <p> To browse the actual status, more statistics or place an order login is required!
            </p>
            <h5>Quick System statistics:</h5>
            <ul>
              <li>Last order placed on  <span class="badge badge-light"> {{generalStats['lastDate'].split(' ')[0]}} by {{generalStats['lastServant']}}</span></li>
              <li><span class="badge badge-dark">{{generalStats['totalServings']}} shared orders </span> with a
                <span class="badge badge-dark">total number of {{generalStats['totalJobs']}} servings</span> for a total amount of
                <span class="badge badge-dark"> {{'%0.1f'| format(generalStats['totalBudgetSpent'])}} CHF </span></li>
              <li> Total of <span class="badge badge-light">{{'%0.1f'| format(generalStats['totalAmmount'])}} L of consumed coffee </span> with  <span class="badge badge-dark">{{'%0.1f'| format(generalStats['totalCaffeine'])}}g of caffeine </span></li>
              <li> Total number of <span class="badge badge-dark">{{generalStats['activeUsers']}} active users</span></li>
              <li>Total <span class="badge badge-primary"> system ratings balance: {{generalStats['totalRating']}}</span>
                where <span class="badge badge-success">{{generalStats['onePlusBadges']}} granted points </span>
                and <span class="badge badge-danger">{{generalStats['oneMinusBadges']}} penalty points </span></li>
            </ul>
            <hr class="my-3">
            {% include 'quick_add.html' %}

            {% if todaysJobs %}
            <hr class="my-3">
            <div class="table-responsive">
                <h5>Current wish list:</h5>
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Whom</th>
                            <th scope="col">What</th>
                            <th scope="col">Local<br>rating</th>
                            <th scope="col">Global<br>rating</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lastEntry in todaysJobs %}
                        <tr>
                            <td> <b>{{ lastEntry[0] }}</b> </td>
                            <td> <b>{{ lastEntry[1] }}</b> </td>
                            <td> <span class="badge badge-{%if lastEntry[2] >= 0%}success{%else%}danger{%endif%}">{{ lastEntry[2] }}</span> </td>
                            <td> <span class="badge badge-{%if lastEntry[5] >= 0%}success{%else%}danger{%endif%}">{{ lastEntry[5] }}</span> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           {%endif%}

            {% if googleSession and loggedUsernameEmail['idProduct'] == -1 %}
            <button id='addQuick' class="btn btn-lg btn-primary btn-block"
              type="button" disabled> You will see here your favorite option after first order
              <img src="{{loggedUsernameEmail['picture']}}" width=25 height=25 class="img-circle"  />
            </button>
            {% endif %}

            <hr class="my-3">
            <div class="row">
            <div class="col">
              <h4>  Next candidates:</h4>
              <div class="table-responsive table-borderless alert alert-danger" role="alert">
                  <table class="table table-striped table-hover table-sm">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col" class="text-right">Global <br>rating</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in candidates %}
                          <tr>
                              <th scope="row">{{ topper[1] }}
                                {%for badge in assignedBadges.values() %}
                                  {%if  badge['userId'] == topper[0] %}
                                    <img src="{{ badge['img'] }}"
                                    width="25" height="25" title="{{ badge['name'] }}({{ badge['date'] }})"/>
                                  {% endif %}
                                {% endfor %}
                              </th>
                              <td class="text-right"> <span class="badge badge-{%if topper[2] >= 0%}success{%else%}danger{%endif%}">{{'%d'| format(topper[2]|float)}}</span></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="col">
              <h4> Top servants: </h4>
              <div class="table-responsive table-borderless alert alert-dark" role="alert">
                  <table class="table table-striped table-hover table-sm ">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col" class="text-right">Served</th>
                              <th scope="col" class="text-right">Spent <br>[CHF]</th>
                              <th scope="col" class="text-right">Global <br> rating</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in top3 %}
                          <tr id={{ topper[0] }}>
                              <th scope="row">{{ topper[0] }}</th>
                              <td class="text-right"> {{'%d'| format(topper[1]|float)}} </td>
                              <td class="text-right"> {{'%0.1f'| format(topper[2]|float)}} </td>
                              <td class="text-right"> <span class="badge badge-{%if topper[3] >= 0%}success{%else%}danger{%endif%}">{{'%d'| format(topper[3]|float)}}</span></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="col">
              <h4> Top orders: </h4>
              <div class="table-responsive table-borderless alert alert-dark" role="alert">
                  <table class="table table-striped table-hover table-sm ">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col" class="text-right">when</th>
                              <th scope="col" class="text-right">Spent<br>[CHF]</th>
                              <th scope="col" class="text-right"> <img src="static/coffee.png" width=20 height=20 class="img-circle"  /> </th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in topOrders %}
                          <tr>
                              <th scope="row"> {{ topper[0] }}</th>
                              <td class="text-right"> <small>{{ topper[1].split(' ')[0] }}</small> </td>
                              <td class="text-right"> {{'%0.1f'| format(topper[2]|float)}} </td>
                              <td class="text-right"> {{'%d'| format(topper[3]|float)}} </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

          </div>
          <!-- <p><a class="btn btn-lg btn-success btn-block" href="addJobs#addorder" role="button">Prepare the order</a></p> -->
          </div>
        <hr class="my-3">
        {% include 'game_desc.html' %}
        <footer class="footer">
        {% include 'footer.html' %}
        </footer>

    </div>
</body>
</html>
