<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common_head.html' %}
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="addJobs">Orders</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Add User</a>
                    </li>
                    <li role="presentation"><a href="stats">SystemStats</a>
                    </li>
                    {% if not googleSession %}
                     {% include 'no_login.html' %}
                    {% else %}
                     {% include 'google_login.html' %}
                    {% endif %}
                </ul>
            </nav>
            {% include 'common_title.html' %}
        </div>

        <div class="jumbotron">
            <h1>Coffee Bucket List</h1>
            <p> Browse the actual status or place an order (login required!).
            </p>
            <p> <li>Last update: {{lastDate[0]}} </li></p>
            {% include 'quick_add.html' %}
            <br>
            <p><a class="btn btn-lg btn-success btn-block" href="addJobs#addorder" role="button">Prepare the order</a></p>

            {% if googleSession and loggedUsernameEmail['idProduct'] == -1 %}
            <button id='addQuick' class="btn btn-lg btn-primary btn-block"
              type="button" disabled> You will see here your favorite option after first order
              <img src="{{loggedUsernameEmail['picture']}}" width=25 height=25 class="img-circle"  />
            </button>
            {% endif %}
            <hr class="my-3">
            {% include 'game_desc.html' %}
            <hr class="my-3">
            <div class="col-lg-6">
              <h4>  Next candidates (all population):</h4>

              <div class="table-responsive alert alert-danger" role="alert">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Global <br>rating</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in candidates %}
                          <tr>
                              <th scope="row">{{ topper[1] }}
                                {%for badge in assignedBadges %}
                                  {%if  badge[0] == topper[0] %}
                                    <img src="{{ badge[5] }}"
                                    width="25" height="25" title="{{ badge[4] }}({{ badge[1] }})"/>
                                  {% endif %}
                                {% endfor %}
                              </th>
                              <td> {{'%0.1f'| format(topper[2]|float)}}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="col-lg-6">
              <h4> Top servants: </h4>
              <div class="table-responsive alert alert-dark" role="alert">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Served</th>
                              <th scope="col">Spent <br>[CHF]</th>
                              <th scope="col">Global <br> rating</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for topper in top3 %}
                          <tr id={{ topper[0] }}>
                              <th scope="row">{{ topper[0] }}

                              </th>
                              <td> {{'%0.0f'| format(topper[1]|float)}} </td>
                              <td> {{'%0.1f'| format(topper[2]|float)}} </td>
                              <td> {{'%0.1f'| format(topper[3]|float)}}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>

            <div class="card" >
              <div class="card-header">
                &nbsp;&nbsp;
              </div>
              <div class="card-body">
               <p class="lead"></p>
               <p><a class="btn btn-lg btn-success btn-block" href="addJobs#addorder" role="button">Prepare the order</a></p>
              </div>
            </div>
        </div>

        <footer class="footer">
        {% include 'footer.html' %}
        </footer>

    </div>
</body>
</html>
