<!--  Requires data containers:
users
usersStats
-->
<div id="containerPlot" style="min-width: 330px; height: 350px; margin: 0 auto;"></div>
<div id="containerPlotTotal" style="min-width: 330px; height: 350px; margin: 0 auto; "></div>
<script>
Highcharts.chart('containerPlot', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Total coffees offered'
  },
  tooltip: {
    pointFormat: '{point.y:.0f}/{point.total:.0f} (<b>{point.percentage:.1f}%</b>)'
  },
  plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                  style: {
                      color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                  }
              }
          }
      },
  series: [{
    name: 'Users',
    colorByPoint: true,
    data: [
    {% for user in users.values() %} {% if usersStats.get(user['username'], {False:0}).get('offered', 0) > 0 %} {name: '{{user['username']}}', y: {{ usersStats.get(user['username'], {False:0}).get('offered', 0) }}},{%endif%}
    {% endfor %}
  ] }]
});

Highcharts.chart('containerPlotTotal', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Total coffees consumed'
  },
  tooltip: {
    pointFormat: '{point.y:.0f}/{point.total:.0f} (<b>{point.percentage:.1f}%</b>)'
  },
  plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                  style: {
                      color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                  }
              }
          }
      },
  series: [{
    name: 'Users',
    colorByPoint: true,
    data: [
    {% for user in users.values() %} {name: '{{user['username']}}', y: {{ usersStats.get(user['username'], {False:0}).get('consumed', 0) + usersStats.get(user[2], {False:0}).get('served', 0) }}},
    {% endfor %}
  ]}]
});
</script>
