{% if googleSession and loggedUsernameEmail['idProduct'] > 0 %}
    {% if inBucket %}
    <a href='addJobs' class="btn btn-lg btn-outline-primary btn-block" disabled>
      ALREADY registered for the next order (go to the bucket) </a>
    {% else %}
    <a href='/registerJob?inputProduct={{loggedUsernameEmail['idProduct']}}&inputName={{loggedUsernameEmail['id']}}' class="btn btn-outline-primary btn-block">
      Quick Add: {{loggedUsernameEmail['productName']}} for <img src="{{loggedUsernameEmail['picture']}}" width=20 height=20 class="rounded-circle"/>
    </a>
    {% endif %}
{% endif %}
