<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% with activeSite='showSignUp' %}
        {% include 'common_title.html' %}
        {% endwith %}
      </div>

      <div class="jumbotron">
        <h1>Add buddy</h1>
        {% include 'common_alerts.html' %}
        <hr class="my-3">
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName"
          class="form-control" placeholder="What name to use" required autofocus>
          {%if loggedUsernameEmail['id'] == invalidId %}
          <select type="name" name="assignedNameId" id="assignedNameId" class="form-control" required autofocus>
            <option value=-1>"Or to whom assign this email..."</option>
              {% for username in notValidatedUsers.values() %}
              <option value={{username['id']}}>{{username['username']}} ({{username['email']}})</option>
              {% endfor %}
          </select>
          {% endif %}
        <br>
        <label for="inputEmail" class="sr-only">Email address</label>
            {%if loggedUsernameEmail['id'] != invalidId %}
              <input type="email" name="inputEmail" id="inputEmail"
                class="form-control" placeholder= "Email address" required autofocus>
            {% else %}
              <input type="email" name="inputEmail" id="inputEmail" readonly
                class="form-control" value="{{loggedUsernameEmail['email']}}" required autofocus>
            {% endif %}
        <br><br>
        <button id="btnSignUp" class="btn btn-lg btn-success btn-block" type="button">Sign up</button>
        <script>
          $(function() {
              $('#btnSignUp').click(function() {
                  $.ajax({
                      url: '/signUp',
                      data: $('form').serialize(),
                      type: 'POST',
                      success: function(response) {
                          location.reload();
                          console.log(response);
                      },
                      error: function(error) {
                          console.log(error);
                      }
                  });
              });
            }
          );
        </script>
      </form>
      </div>

      {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() %}
      <div class="container">
              <hr class="my-3">
               <h4> GrantBadges</h4>
               {% include 'totop.html' %}
               <p>  {% include 'visible_badges.html' %} </p>
               <form class="form-signin">
               <div class="form-group">
               <label for="inputNameForBadge">Name</label>
                 <select type="name" name="nameIdToGrant" id="nameIdToGrant" class="form-control" required autofocus>
                   <option value=-1>Who should be granted"</option>
                     {% for username in users.values() %}
                     <option value={{username['id']}}>{{username['username']}} ({{username['email']}})</option>
                     {% endfor %}
                 </select>
               </div>
               <div class="form-group">
               <label for="inputBadge">Email address</label>
                 <select type="name" name="badgeId" id="badgeId" class="form-control" required autofocus>
                   <option value=-1>With the following badge</option>
                     {% for badge in badgesToGrant.values() %}
                     <option value={{badge['id']}}> <img src='{{badge['img']}}' width="10" height="10" /> {{badge['name']}} (effect={{badge['effect']}})  </option>
                     {% endfor %}
                 </select>
               </div>
               <br><br>
               <button id="grantBadge" class="btn btn-lg btn-success btn-block" type="button">Award with badge</button>
               <script>
                 $(function() {
                     $('#grantBadge').click(function() {
                         $.ajax({
                             url: '/grantBadge',
                             data: $('form').serialize(),
                             type: 'POST',
                             success: function(response) {
                                 location.reload();
                                 console.log(response);
                             },
                             error: function(error) {
                                 console.log(error);
                             }
                         });
                     });
                   }
                 );
               </script>
               </form>

       </div>
       {% endif %}


       {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() %}
       <div class="container">
                <hr class="my-3">
                <h4> Add product </h4>
                {% include 'totop.html' %}
                <p>  {% include 'visible_badges.html' %} </p>
                <br>
                <form class="form-signin">
                <div class="form-group">
                  <label for="productName">name:</label>
                  <input name="productName" id="productName"
                    class="form-control" placeholder="What name to use" required autofocus>
                </div>
                <div class="form-group">
                <label for="productPrice">price [chf]:</label>
                  <input  name="productPrice" id="productPrice"
                    class="form-control" placeholder= "0.0" required autofocus>
                </div>
                <div class="form-group">
                <label for="productSize">size [mL]:</label>
                  <input name="productSize" id="productSize"
                    class="form-control" placeholder= "100.0" required autofocus>
                </div>
                <div class="form-group">
                <label for="productCoffeine">coffeine [mg]:</label>
                  <input name="productCoffeine" id="productCoffeine"
                    class="form-control" placeholder= "30.0" required autofocus>
                </div>

                <br>
                <button id="addProduct" class="btn btn-lg btn-success btn-block" type="button">Add product</button>
                <script>
                  $(function() {
                      $('#addProduct').click(function() {
                          $.ajax({
                              url: '/addProduct',
                              data: $('form').serialize(),
                              type: 'POST',
                              success: function(response) {
                                  location.reload();
                                  console.log(response);
                              },
                              error: function(error) {
                                  console.log(error);
                              }
                          });
                      });
                    }
                  );
                </script>
                </form>

        </div>
        {% endif %}

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
