<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% with activeSite='showSignUp' %}
        {% include 'common_title.html' %}
        {% endwith %}
      </div>

      <div class="jumbotron">
        <h1>Add buddy</h1>
        {% include 'common_alerts.html' %}
        <hr class="my-3">
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName"
          class="form-control" placeholder="What name to use" required autofocus>
          {%if loggedUsernameEmail['id'] == invalidId %}
          <select type="name" name="assignedNameId" id="assignedNameId" class="form-control" required autofocus>
            <option value=-1>"Or to whom assign this email..."</option>
              {% for username in notValidatedUsers.values() %}
              <option value={{username['id']}}>{{username['username']}} ({{username['email']}})</option>
              {% endfor %}
          </select>
          {% endif %}
        <br>
        <label for="inputEmail" class="sr-only">Email address</label>
            {%if loggedUsernameEmail['id'] != invalidId %}
              <input type="email" name="inputEmail" id="inputEmail"
                class="form-control" placeholder= "Email address" required autofocus>
            {% else %}
              <input type="email" name="inputEmail" id="inputEmail" readonly
                class="form-control" value="{{loggedUsernameEmail['email']}}" required autofocus>
            {% endif %}
        <br><br>
        <button id="btnSignUp" class="btn btn-lg btn-success btn-block" type="button">Sign up</button>
        <script>
          $(function() {
              $('#btnSignUp').click(function() {
                  $.ajax({
                      url: '/signUp',
                      data: $('form').serialize(),
                      type: 'POST',
                      success: function(response) {
                          location.reload();
                          console.log(response);
                      },
                      error: function(error) {
                          console.log(error);
                      }
                  });
              });
            }
          );
        </script>
      </form>
      </div>

      {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() %}

      <div class="container">
               <hr class="my-3">
               <h4> Add product </h4>
               {% include 'totop.html' %}
               <p>  {% include 'visible_badges.html' %} </p>
               <br>
               <form class="form-signin">
               <div class="form-group">
                 <label for="productName">name:</label>
                 <input name="productName" id="productName"
                   class="form-control" placeholder="What name to use" required autofocus>
               </div>
               <div class="form-group">
               <label for="productPrice">price [chf]:</label>
                 <input  name="productPrice" id="productPrice"
                   class="form-control" placeholder= "0.0" required autofocus>
               </div>
               <div class="form-group">
               <label for="productSize">size [mL]:</label>
                 <input name="productSize" id="productSize"
                   class="form-control" placeholder= "100.0" required autofocus>
               </div>
               <div class="form-group">
               <label for="productCoffeine">coffeine [mg]:</label>
                 <input name="productCoffeine" id="productCoffeine"
                   class="form-control" placeholder= "30.0" required autofocus>
               </div>

               <br>
               <button id="addProduct" class="btn btn-lg btn-success btn-block" type="button">Add product</button>
               <script>
                 $(function() {
                     $('#addProduct').click(function() {
                         $.ajax({
                             url: '/addProduct',
                             data: $('form').serialize(),
                             type: 'POST',
                             success: function(response) {
                                 location.reload();
                                 console.log(response);
                             },
                             error: function(error) {
                                 console.log(error);
                             }
                         });
                     });
                   }
                 );
               </script>
               </form>
       </div>

      <div class="container">
              <hr class="my-3">
               <h4> GrantBadges</h4>
               {% include 'totop.html' %}
               <p>  {% include 'visible_badges.html' %} </p>
               <form class="form-signin">
               <div class="form-group">
               <label for="inputNameForBadge">Name</label>
                 <select type="name" name="nameIdToGrant" id="nameIdToGrant" class="form-control" required autofocus>
                   <option value=-1>Who should be granted"</option>
                     {% for username in users.values() %}
                     <option value={{username['id']}}>{{username['username']}} ({{username['email']}})</option>
                     {% endfor %}
                 </select>
               </div>
               <div class="form-group">
               <label for="inputBadge">Email address</label>
                 <select type="name" name="badgeId" id="badgeId" class="form-control" required autofocus>
                   <option value=-1>With the following badge</option>
                     {% for badge in badgesToGrant.values() %}
                     <option value={{badge['id']}}> <img src='{{badge['img']}}' width="10" height="10" /> {{badge['name']}} (effect={{badge['effect']}})  </option>
                     {% endfor %}
                 </select>
               </div>
               <br><br>
               <button id="grantBadge" class="btn btn-lg btn-success btn-block" type="button">Award with badge</button>
               <script>
                 $(function() {
                     $('#grantBadge').click(function() {
                         $.ajax({
                             url: '/grantBadge',
                             data: $('form').serialize(),
                             type: 'POST',
                             success: function(response) {
                                 location.reload();
                                 console.log(response);
                             },
                             error: function(error) {
                                 console.log(error);
                             }
                         });
                     });
                   }
                 );
               </script>
               </form>

       </div>

       <div class="container">
       <hr class="my-3">
        <h4> Edit Badges</h4>
        <p>  {% include 'visible_badges.html' %} </p>
        <form class="form-signin">
          <table class="table table-striped table-hover table-sm">
              <thead>
                  <tr>
                      <th scope="col">name</th>
                      <th scope="col">image</th>
                      <th scope="col">description  </th>
                      <th scope="col">effect </th>
                      <th scope="col">edit</th>
                  </tr>
              </thead>
              <tbody>
          {% for badge in allBadges.values() %}
          {% if badge[5] == 1 %}
            <tr class="table-default text-primary">
          {% else %}
            <tr >
          {% endif %}
          <!-- <td> {{badge[0]}} </td> -->
           <td> {{badge['name']}} </td>
           <td> <img src="{{badge['img']}}" width="25" height="25"/> </td>
           <td> {{badge['desc']}} </td>
           <td> {%with valueToShow= badge['effect']%}{%include 'badge-points.html'%}{%endwith %} </td>
           <td><button type="button" class="btn btn-warning btn-sm modalBadgeEdit" tabindex="0"
                data-toggle="modal" data-target="#modalBadgeEdit"
                data-desc="{{badge['desc']}}"
                data-name="{{badge['name']}}"
                data-effect="{{badge['effect']}}"
                data-img="{{badge['img']}}"
                data-adminawarded={{badge['adminawarded']}}>
                <img src="static/wrench.png" width="25" height="25"/></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>

        <div class="modal fade" id="modalBadgeEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <img src="static/award-badge.png" width="35" height="35" />
                  <img src="static/wrench.png" width="35" height="35" /> Edit Badge Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="editbadge" method="post">
                  <div class="form-group">
                    <label for="badge-name" class="col-form-label">Badge name:</label>
                    <input type="text" class="form-control" id="badge-name">
                  </div>
                  <div class="form-group">
                    <label for="badge-desc" class="col-form-label">Badge description:</label>
                    <input type="text" class="form-control" id="badge-desc">
                  </div>
                  <div class="form-group">
                    <label for="badge-effect" class="col-form-label">Badge effect:</label>
                    <input type="text" class="form-control" id="badge-effect">
                  </div>
                  <div class="form-group">
                    <label for="badge-icon" class="col-form-label">Badge icon path:</label>
                    <input type="text" class="form-control" id="badge-icon">
                  </div>
                  <div class="form-group">
                    <input type="checkbox" class="col-form-input" id="badge-adminawarded">
                    <label for="badge-adminawarded" class="col-form-label">Is adminawarded?</label>
                  </div>
                  <button type="submit" class="btn btn-danger">Save Badge Changes</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel and forget</button>

              </div>
            </div>
          </div>
        </div>
        <script>
          $(function(){
            $('.modalBadgeEdit').click(function(e){
              e.preventDefault();
              var button = $(e.delegateTarget);
              var name = button.data('name');
              var desc = button.data('desc');
              var effect = button.data('effect');
              var icon = button.data('img');
              var checked = button.data('adminawarded');
              var mymodal = $('#modalBadgeEdit');
              mymodal.find('#badge-name').val(name);
              mymodal.find('#badge-desc').val(desc);
              mymodal.find('#badge-effect').val(effect);
              mymodal.find('#badge-icon').val(icon);
              mymodal.find('#badge-adminawarded').checked = !!checked ;
              mymodal.modal('show');
            });
          })
        </script>
        </form>
       </div>
       {% endif %}


       {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() %}

       <div class="container">
       <hr class="my-3">
        <h4> Edit Users</h4>
        <p>  {% include 'visible_badges.html' %} </p>
        <form class="form-signin">
          <table class="table table-striped table-hover table-sm">
              <thead>
                  <tr>
                      <th scope="col">id</th>
                      <th scope="col">name</th>
                      <th scope="col">email</th>
                      <th scope="col">score</th>
                      <th scope="col">added <br> by </th>
                      <th scope="col">edit</th>

                  </tr>
              </thead>
              <tbody>
          {% for user in users.values() %}
          <!-- <td> {{user[0]}} </td> -->
           <td> {{user['id']}}</td>
           <td> {{user['username']}}</td>
           <td> {{user['email']}}</td>
           <td> {%with valueToShow = user['rating']%}{%include'badge-points.html'%}{%endwith%}</td>
           <td>
           <select type="name" name="towhomName" id="towhomName" class="form-control" required autofocus disabled>
               {% with whoActive = user['creator'] %}
               {% include 'userselectoptions.html' %}
               {% endwith %}
           </select>
           </td>
           <td><button type="button" class="btn btn-warning btn-sm modalUserEdit" tabindex="0"
                data-toggle="modal" data-target="#modalUserEdit"
                data-id="{{user['id']}}"
                data-name="{{user['username']}}"
                data-email="{{user['email']}}"
                data-active={{user['active']}}
                data-validated={{user['validated']}}
                data-creator="{{user['creator']}}"
                ><img src="static/wrench.png" width="25" height="25"/></button>
            </td>

          </tr>
          {% endfor %}
        </tbody>
        </table>

        <div class="modal fade" id="modalUserEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <img src="static/users.png" width="35" height="35" />
                  <img src="static/wrench.png" width="35" height="35" /> Edit User's Details
                  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="edituser" method="post">
                  <div class="form-group">
                    <label for="user-id" class="col-form-label">User id:</label>
                    <input type="text" class="form-control" id="user-id" readonly>
                  </div>
                  <div class="form-group">
                    <label for="user-name" class="col-form-label">User name:</label>
                    <input type="text" class="form-control" id="user-name">
                  </div>
                  <div class="form-group">
                    <label for="user-email" class="col-form-label">User email:</label>
                    <input type="text" class="form-control" id="user-email">
                  </div>
                  <div class="form-group">
                    <label for="user-creator" class="col-form-label">User's creator:</label>
                    <input type="text" class="form-control" id="user-creator">
                  </div>
                  <div class="form-group">
                    <input type="checkbox" class="col-form-input" id="user-validated">
                    <label for="user-validated" class="col-form-label">Is validated?</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" class="col-form-input" id="user-active">
                    <label for="user-active" class="col-form-label">Is active?</label>
                  </div>
                    <button type="submit" class="btn btn-danger">Save User Changes</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel and forget</button>

              </div>
            </div>
          </div>
        </div>
        <script>
          $(function(){
            $('.modalUserEdit').click(function(e){
              e.preventDefault();
              var button = $(e.delegateTarget);
              var id = button.data('id');
              var name = button.data('name');
              var email = button.data('email');
              var creator = button.data('creator');
              var active = button.data('active');
              var validated = button.data('validated');
              var mymodal = $('#modalUserEdit');
              mymodal.find('#user-id').val(id);
              mymodal.find('#user-name').val(name);
              mymodal.find('#user-email').val(email);
              mymodal.find('#user-creator').val(creator);
              mymodal.find('#user-active').checked = !!checked;
              mymodal.find('#user-validated').checked = !!validated;
              mymodal.modal('show');
            });
          })
        </script>
        </form>
       </div>


        {% endif %}

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
