<hr class="my-3">
   <h2 id='debtTransfer'> Debt Transfer History </h2>
   {% include 'totop.html' %}
   <div class="table-responsive table-borderless">
       <table class="table table-striped table-hover table-sm">
           <thead>
               <tr>
                   <th scope="col">Date</th>
                   <th scope="col">From</th>
                   <th scope="col">To Whom</th>
                   <th scope="col">Value</th>

               </tr>
           </thead>
           <tbody>
           {% for lastEntry in transferHistory.values() %}
              {% if not lastEntry['valid'] %}
               <tr class="table-dark text-muted">
              {% else %}
               <tr >
              {% endif %}
                   <th scope="row"> <small>{{ lastEntry['date'] }}</small> </th>
                   <td> <img src="static/debt-relief.png" width="25" height="25" />{{ lastEntry['fromUserName'] }} </td>
                   <td> <img src="static/debt-collector.png" width="25" height="25" /><span class="text">{{ lastEntry['toUserName'] }} </span> </td>
                   <td> {%with valueToShow= lastEntry['value']%}{%include 'badge-points.html'%}{%endwith %}</td>
                   {% if (loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() ) and lastEntry['badgeId'] != 7 %}
                    <td class="text-center">
                      {% if lastEntry['valid'] %}
                        <a class="btn btn-light btn-sm" href="modifyTransfer?transferId={{lastEntry['transferId']}}&valid=0"> <img src="static/delete.png"  width="25" height="25" /> </a>
                      {% else %}
                        <a class="btn btn-light btn-sm" href="modifyTransfer?transferId={{lastEntry['transferId']}}&valid=1"> <img src="static/refresh.png"  width="25" height="25" /> </a>
                      {% endif %}
                     </td>
                   {% endif %}
               </tr>
           {% endfor %}
           </tbody>
       </table>
   </div>
