<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% with activeSite='stats' %}
        {% include 'common_title.html' %}
        {% endwith %}
      </div>

      <div class="jumbotron">
        <h1>Some statistics</h1>
        {% include 'common_alerts.html' %}
        <h5> Quick jump to: </h5>
        <div class="row">
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#statistics'> <img src="static/users.png" width="35" height="35" /> Users and statistics</a></div>
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#badgeshistory'><img src="static/award-badge.png" width="35" height="35" /> Badges Grant History</a></div>
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#debtTransfer'><img src="static/debt-collector.png" width="35" height="35" /> Debt Transfers History</a></div>
        </div>
        <hr class="my-3">
        <h5> Items used in the game:</h5>
        <div class="row">
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#Achievements'> <img src="static/trophee.png" width="35" height="35" /> Badges and Achievements</a></div>
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#products'> <img src="static/coffee.png" width="35" height="35" /> Products Descriptons</a></div>
        </div>
        <hr class="my-3">
        {% include 'game_desc.html' %}
      </div>


      <div class="container">
        {% include 'stats-users.html' %}
      </div>

      <div class="container">
        {% include 'stats-badges.html' %}
      </div>

      <div class="container">
        <hr class="my-3">
           <h2 id='debtTransfer'> Debt Transfer History </h2>
           {% include 'totop.html' %}
           <div class="table-responsive table-borderless">
               <table class="table table-striped table-hover table-sm">
                   <thead>
                       <tr>
                           <th scope="col">Date</th>
                           <th scope="col">From</th>
                           <th scope="col">To Whom</th>
                           <th scope="col">Value</th>

                       </tr>
                   </thead>
                   <tbody>
                   {% for lastEntry in transferHistory.values() %}
                      {% if not lastEntry['valid'] %}
                       <tr class="table-dark text-muted">
                      {% else %}
                       <tr >
                      {% endif %}
                           <th scope="row"> <small>{{ lastEntry['date'] }}</small> </th>
                           <td> <img src="static/debt-relief.png" width="25" height="25" />{{ lastEntry['fromUserName'] }} </td>
                           <td> <img src="static/debt-collector.png" width="25" height="25" /><span class="text">{{ lastEntry['toUserName'] }} </span> </td>
                           <td> {%with valueToShow= lastEntry['value']%}{%include 'badge-points.html'%}{%endwith %}</td>
                           {% if (loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() ) and lastEntry['badgeId'] != 7 %}
                            <td class="text-center">
                              {% if lastEntry['valid'] %}
                                <a class="btn btn-light btn-sm" href="modifyTransfer?transferId={{lastEntry['transferId']}}&valid=0"> <img src="static/delete.jpg"  width="25" height="25" /> </a>
                              {% else %}
                                <a class="btn btn-light btn-sm" href="modifyTransfer?transferId={{lastEntry['transferId']}}&valid=1"> <img src="static/refresh.png"  width="25" height="25" /> </a>
                              {% endif %}
                             </td>
                           {% endif %}
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
       </div>

      {% include 'stats-products.html' %}

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
