<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
           {% include 'common_title.html' %}
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-item nav-link" href="main">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item nav-link" href="addJobs">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item nav-link" href="showSignUp">Add User</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-item nav-link" href="#">SystemStats</a>
                </li>
                 {% include 'google_login.html' %}
            </ul>
          <!-- closing from the title temlate -->
          </nav>
      </div>

      <div class="jumbotron">
        <h1>Some statistics</h1>
        {% include 'common_alerts.html' %}
        <hr class="my-3">
        {% include 'game_desc.html' %}
      </div>


      <div class="container">
        <hr class="my-3">
            <div>
              <h2 id='statistics'>Users and statistics: </h2>
              <p>
                <li>All statistics caluclated exluding self->self serving unless specified otherwise. </li>
                <li>* Value WITH THE badge modificators, raw is offered - consumed</li>
                <li>** Coffee offered withing # servings</li>
                <li>*** Value without selfbuyings (Total: including selfbuyings)</li>
              </p>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col" class="text-right">actual<br>score*</th>
                            <th scope="col" class="text-right">raw score  </th>
                            <th scope="col" class="text-right">#offered**</th>
                            <th scope="col" class="text-right">#servings</th>
                            <th scope="col" class="text-right">#consumed***</th>
                            <th scope="col" class="text-right">#total <br>consumed</th>
                            {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() %}
                            <th scope="col" class="text-center">  <p> {% include 'visible_badges.html' %} </p> </th>
                            {% endif%}
                        </tr>
                    </thead>
                    <tbody>
                      <!-- https://cdn3.iconfinder.com/data/icons/common-4/24/ui-09-512.png -->
                    {% for user in users %}
                        {% if not user[7] %}
                         <tr class="table-dark text-muted">
                        {% else %}
                         <tr >
                        {% endif %}
                            <th scope="row"> <badge title="{{ user[1] }}">{{ user[2] }}
                              {%if user[5] == 0 %}
                              <img src="static/exclamation-alert.png" width="25" height="25" title="NOT VALIDATED!"/>
                              {% endif %}
                              {%for badge in assignedBadges %}
                                {%if  badge[0] == user[0] %}
                                  <img src="{{ badge[5] }}" width="25" height="25" title="{{ badge[4] }}({{ badge[1] }}, effect: {{badge[7]}})"/>
                                {% endif %}
                              {% endfor %} </badge>
                            </th>
                            <td class="text-right"> <b>{{'%d'| format(user[3]|float)}}</b>  </td>
                            <td class="text-right">{{ usersStats.get(user[2], {False:0}).get('offered', 0) - usersStats.get(user[2], {False:0}).get('consumed', 0) }}</td>
                            <td class="text-right"> {{ usersStats.get(user[2], {False:0}).get('offered', 0) }} </td>
                            <td class="text-right">{{ usersStats.get(user[2], {False:0}).get('served', 0) }}</td>
                            <td class="text-right">{{ usersStats.get(user[2], {False:0}).get('consumed', 0) }} </td>
                            <td class="text-right">{{ usersStats.get(user[2], {False:0}).get('consumed', 0) + usersStats.get(user[2], {False:0}).get('served', 0) }}</td>
                            {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() %}
                            <td class="text-center">
                            {% if user[7] == 0 %}
                              <a href="modifyUser?userId={{user[0]}}&active=1"> <img src="static/refresh.png"  width="25" height="25" /> </a>
                            {% else %}
                              <a href="modifyUser?userId={{user[0]}}&active=0"> <img src="static/lock.png"  width="25" height="25" /> </a>
                            {% endif %}
                          </td>
                          {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
      </div>



      <div class="container">
        <hr class="my-3">
           <h2> Badges Grant History </h2>
           <div class="table-responsive table-borderless">
               <table class="table table-striped table-hover table-sm">
                   <thead>
                       <tr>
                           <th scope="col">Date (granted by) </th>
                           <th scope="col">To Whom </th>
                           <th scope="col">Badge</th>
                           {% if loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() %}
                           <th scope="col">  <p> {% include 'visible_badges.html' %} </p> </th>
                           {% endif%}
                       </tr>
                   </thead>
                   <tbody>
                   {% for lastEntry in grantedBadges %}
                      {% if not lastEntry[7] %}
                       <tr class="table-dark text-muted">
                      {% else %}
                       <tr >
                      {% endif %}
                           <th scope="row"> <small>{{ lastEntry[4] }}</small> <span class="text-muted">(by {{ lastEntry[5] }})</span> </th>
                           <td> {{ lastEntry[1] }} </td>
                           <td> <img src="{{ lastEntry[3] }}" width="25" height="25" /><span class="text">{{ lastEntry[2] }} </span> </td>
                           {% if (loggedUsernameEmail['email'] in adminsList['admin'].keys() or loggedUsernameEmail['email'] in adminsList['badgeadmin'].keys() ) and lastEntry[6] != 7 %}
                            <td class="text-center">
                              {% if lastEntry[7] %}
                                <a href="modifyBadge?grantId={{lastEntry[0]}}&valid=0"> <img src="static/delete.jpg"  width="25" height="25" /> </a>
                              {% else %}
                                <a href="modifyBadge?grantId={{lastEntry[0]}}&valid=1"> <img src="static/refresh.png"  width="25" height="25" /> </a>
                              {% endif %}
                             </td>
                           {% endif %}
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
       </div>


       <div class="container">
         <hr class="my-3">
            <div>
            <h2 id='Achievements'> Badges and Achievements</h2>
              <p class="text-default">Badges awarded by the system after each scoring updade, trigered after each registered job.</p>
              <p class="text-primary"> Badges that can be awarded by the SytemAdmin or BadgeAdmin</p>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Badge</th>
                            <th scope="col">Description</th>
                            <th scope="col" class="text-right">Effect</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lastEntry in allBadges %}
                      {% if lastEntry[5] == 1 %}
                        <tr class="table-default text-primary">
                      {% else %}
                        <tr >
                      {% endif %}
                            <th scope="row">{{ lastEntry[1] }}</th>
                            <td> <img src="{{ lastEntry[2] }}" width="25" height="25" /> </td>
                            <td> {{ lastEntry[3] }} </td>
                            <td class="text-right"> {{ lastEntry[4] }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container">
          <hr class="my-3">
           <h2>Products: </h2>
           <div class="table-responsive">
               <table class="table table-striped table-hover table-sm">
                   <thead>
                       <tr>
                           <th scope="col">Name</th>
                           <th scope="col">Price </th>
                       </tr>
                   </thead>
                   <tbody>
                   {% for user in products %}
                       <tr >
                           <th scope="row"> {{ user[1] }} </th>
                           <td> {{'%0.1f'| format(user[2]|float)}}</td>
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
         </div>

      <footer class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
