<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common_head.html' %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% with activeSite='stats' %}
        {% include 'common_title.html' %}
        {% endwith %}
      </div>

      <div class="jumbotron">
        <h1>Some statistics</h1>
        {% include 'common_alerts.html' %}
        <h5> Quick jump to: </h5>
        <div class="row">
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#statistics'> <img src="static/users.png" width="35" height="35" /> Users and statistics</a></div>
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#badgeshistory'><img src="static/award-badge.png" width="35" height="35" /> Badges Grant History</a></div>
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#debtTransfer'><img src="static/debt-collector.png" width="35" height="35" /> Debt Transfers History</a></div>
        </div>
        <hr class="my-3">
        <h5> Items used in the game:</h5>
        <div class="row">
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#Achievements'> <img src="static/trophee.png" width="35" height="35" /> Badges and Achievements</a></div>
          <div class="col-sm-4"><a class="btn btn-light btn-outline" href='#products'> <img src="static/coffee.png" width="35" height="35" /> Product consumption</a></div>
        </div>
        <hr class="my-3">
        {% include 'game_desc.html' %}
      </div>


      <div class="container">
        {% include 'stats-users.html' %}
      </div>

      <div class="container">
        {% include 'stats-badges.html' %}
      </div>

      <div class="container">
        {% include 'stats-debt-transfer-history.html' %}
      </div>

      <div  class="container">
        {% include 'bar-chart.html' %}
      </div>

      <footer id='products' class="footer">
      {% include 'footer.html' %}
      </footer>

    </div>
  </body>
</html>
